@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

body {
  background-color: rgb(217, 222, 228);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

/* navbar style */
.form-control {
  font-size: 15px;
}
@media screen and (min-width: 994px) {
  .form-control {
    width: 350px;
  }
  .btn {
    width: auto;
  }
}
.navbar-nav {
  font-weight: bold;
}
@media screen and (max-width: 994px) {
  .navbar-nav {
    text-align: center;
  }
}
.nav-shop {
  z-index: var(--z-fixed);
  color: var(--text-color);
  font-weight: var(--font-medium);
  font-size: 1.3rem;
}
.fas:hover {
  transition: 0.2;
  color: white;
}
/* akhir style navbar */
